.logo {
  height: 200px;
  padding: 200px;
  border-radius: 50%;
  object-fit: cover;
}

body, .wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  transition: all ease-in;
}

#home {
  background-color: white;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/react-project--forum.appspot.com/o/src%2Fbg2.jpg?alt=media&token=5aae07f5-a8ab-4a26-843b-3181ebb3d9c6');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#about {
  background-color: white;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/react-project--forum.appspot.com/o/src%2Fbg3.jpg?alt=media&token=878230b6-50f5-47a0-83d1-0a7ae3f74ef0');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#profile {
  background-color: white;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/react-project--forum.appspot.com/o/src%2Fbg4.jpg?alt=media&token=d047bf4b-9b94-4a48-82bd-1fe595382d25');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper:not(#home, #about, #profile) {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/react-project--forum.appspot.com/o/src%2Fbg1.jpg?alt=media&token=747c00cc-f77b-4072-bf00-987c36cfea95');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}