.logo {
  height: 200px;
  padding: 200px;
  border-radius: 50%;
  object-fit: cover;
}

body {
  background-image: url('/src/assets/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  transition: all ease-in;
}

#home {
  background-image: url('/src/assets/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#about {
  background-image: url('/src/assets/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#profile {
  background-image: url('/src/assets/bg4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}